# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Spirala.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\SEMESTR_6\inzynierka\Source\.idea\.idea.Spirala\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
